html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #002147;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

header img {
  height: 80px;
  margin-right: 15px;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  width: 20%;
  height: 2px;
  background-color: #002147;
  margin: 0 10px;
}

form {
  margin-bottom: 30px;
}

form div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button,
a {
  text-decoration: none;
  background-color: #002147;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover,
a:hover {
  background-color: #00509e;
}

.export-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

a {
  display: inline-block;
  margin: 0 auto;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #003366;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
  background-color: #002147;
  color: white;
  text-align: center;
  margin-top: 70px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

input[type="text"]{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 40%;
}

.data-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

canvas {
  width: 100% !important; /* Asegura que el canvas ocupe todo el ancho disponible */
  height: auto !important; /* Mantiene la relación de aspecto */
  border-radius: 8px; /* Esquinas redondeadas para el canvas */
}

@media (max-width: 600px) {
  th,
  td {
    font-size: 14px;
  }

  header h1 {
    font-size: 1.2em;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  .export-btn {
    text-align: center;
  }
}
