<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Analizador Semántico RSL | Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/png" />
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        alt="Logo del sitio" />
      <h1>Analizador Semántico para RSL | Resultados</h1>
    </header>
    <div class="container">
      <p>
        Esta página muestra los resultados del análisis semántico realizado en el PDF que seleccionaste. A continuación, se presentan los datos extraídos.
        Puedes exportar estos datos a un archivo Excel para su posterior uso.
      </p>
      </form>
      {% if data %}
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Título</th>
              <th>Autores</th>
              <th>Año</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ data["title"] }}</td>
              <td>{{ data["authors"] }}</td>
              <td>{{ data["year"] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="export-container">
         <p>¿Quieres exportar los resultados a un archivo Excel?</p>
         {% if error %}
        <p style="color: red; text-align:center">{{ error }}</p>
        {% endif %}
        <a href="/export">
          Exportar a Excel
         </a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
