<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Analizador Semántico RSL</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            rel="icon"
            href="{{ url_for('static', filename='assets/logo.png') }}"
            type="image/png"
        />
    </head>
    <body>
        <header>
            <img
                src="{{ url_for('static', filename='assets/logo.png') }}"
                alt="Logo del sitio"
            />
            <h1>Analizador Semántico para RSL</h1>
            <p class="intro-text">
                Analiza artículos científicos en PDF para extraer datos útiles
                para estudiantes e investigadores.
            </p>
        </header>
        <div class="container">
            <div id="files-list">
                <h3>Archivos Subidos</h3>
                <div id="file-upload-area">
                    <input
                        type="file"
                        id="file-input"
                        accept=".pdf"
                        style="display: none"
                    />
                    <button type="button" id="upload-btn" class="btn">
                        Seleccionar Archivo PDF
                    </button>
                    <div id="upload-status"></div>
                </div>
                <ul id="files-container">
                    <!-- Los archivos se mostrarán aquí dinámicamente -->
                </ul>
                <form id="extract-form" class="form-section">
                    <button type="submit" class="btn" id="extract-btn">
                        Extraer Datos
                    </button>
                </form>
            </div>
            <div>
                <div class="demo">
                    <div class="line"></div>
                    <h3>O</h3>
                    <div class="line"></div>
                </div>

                <form method="POST" action="/buscar" class="form-section">
                    <div>
                        <input
                            type="text"
                            name="buscar_tema"
                            placeholder="Buscar por tema"
                        />
                        <button type="submit" class="btn">Buscar</button>
                    </div>

                    {% if error %}
                    <p class="error-message" style="margin-top: 20px">
                        {{ error }}
                    </p>
                    {% endif %}
                </form>

                <div class="data-container">
                    {% if data_list %}
                    <div class="options-container">
                        <h3>Selecciona las columnas a mostrar:</h3>
                        <div>
                            <label
                                ><input
                                    type="checkbox"
                                    name="autores"
                                    onchange="toggleColumna(this, 'autores')"
                                />Autores</label
                            >
                            <label
                                ><input
                                    type="checkbox"
                                    name="anio"
                                    onchange="toggleColumna(this, 'anio')"
                                />Año</label
                            >
                            <label
                                ><input
                                    type="checkbox"
                                    name="tema"
                                    onchange="toggleColumna(this, 'tema')"
                                />Tema</label
                            >
                            <label
                                ><input
                                    type="checkbox"
                                    name="pais"
                                    onchange="toggleColumna(this, 'pais')"
                                />País</label
                            >
                            <label
                                ><input
                                    type="checkbox"
                                    name="palabras"
                                    onchange="toggleColumna(this, 'palabras')"
                                />Palabras Claves</label
                            >
                            <label
                                ><input
                                    type="checkbox"
                                    name="paginas_imagenes"
                                    onchange="toggleColumna(this, 'paginas_imagenes')"
                                />Páginas / Imágenes</label
                            >
                            <label
                                ><input
                                    type="checkbox"
                                    name="resumen"
                                    onchange="toggleColumna(this, 'resumen')"
                                />Resumen</label
                            >
                        </div>
                    </div>

                    <div class="table-container">
                        <table class="mui-table">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th data-columna="autores">Autores</th>
                                    <th data-columna="anio">Año</th>
                                    <th data-columna="tema">Tema</th>
                                    <th data-columna="pais">País</th>
                                    <th data-columna="palabras">
                                        Palabras Claves
                                    </th>
                                    <th
                                        data-columna="paginas_imagenes"
                                        style="display: none"
                                    >
                                        Páginas / Imágenes
                                    </th>
                                    <th data-columna="resumen">Resumen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data_list %}
                                <tr>
                                    <td data-columna="titulo">
                                        {{ data["titulo"] }}
                                    </td>
                                    <td data-columna="autores">
                                        {{ data["autores"] }}
                                    </td>
                                    <td data-columna="anio">
                                        {{ data["anio"] }}
                                    </td>
                                    <td data-columna="tema">
                                        {{ data["tema"] }}
                                    </td>
                                    <td data-columna="pais">
                                        {{ data["pais"] }}
                                    </td>
                                    <td data-columna="palabras">
                                        {{ data["palabras"] }}
                                    </td>
                                    <td
                                        data-columna="paginas_imagenes"
                                        style="display: none"
                                    >
                                        {{ data['paginas_imagenes'] }}
                                    </td>
                                    <td data-columna="resumen">
                                        {{ data["resumen"] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="buttons-container">
                        <div class="export-container">
                            <p>
                                ¿Quieres exportar los resultados a un archivo
                                Excel?
                            </p>
                            <a
                                href="#"
                                class="btn"
                                onclick="enviarDatosExcel(event)"
                                >Exportar a Excel</a
                            >
                        </div>
                        <div class="export-container">
                            <p>
                                ¿Quieres conocer más acerca de tus resultados?
                            </p>
                            <a href="/estadisticas" class="btn"
                                >Ver más detalles</a
                            >
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="{{ url_for('static', filename='file-manager.js') }}"></script>
    </body>
</html>
